/*PAGINA DE INICIO*/
/*Configuracion general*/
body {
    background-image: url(../img/fondo4.jpg);
    background-size: cover;
    background-position: center;
}

/*Header*/
.contenedor {
    width: 98%;
    margin: 0 auto;
    padding: 0 auto;
}

h1 {
    font-family: 'Domine', serif;
}

p {
    font-family: 'Acme', sans-serif;
}

#oye {
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

/*Footer*/
footer {
    font-family: 'Domine', serif;
    font-weight: bolder;
    font-size: 20px;
}

/*Reducir tamaño de letra para conservar estilo*/
/*y eliminar del pie de pagina el texto de comparte musica*/
@media (max-width: 998px) {
    header h1  {
        font-size: 28px;
        }
    header p {
        font-size: 16px;   
        }
    #comparte {
        display: none;
    }
}

/*PAGINA DE CANCIONES*/
.form-control:focus {
    border-color: gray !important;
    box-shadow: 0 0 10px rgb(108, 108, 114) !important;
}

#audios audio {
    width: 250px;
}

.search {
	max-width: 300px;
	margin: 0 auto;
	position: relative;
}

.search i {
	position: absolute;
    cursor: pointer;
    right: 0px;
    top: 0px;
}

#grilla {
	padding: 0px;
	margin-top: 10px;
}

#lista {
	list-style-type: none;
	float: left;
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
	width: 320px;
}